 
 

// 下面分類文章card hover
.article-card-col-4{
    position: relative;
}
.article-card-hover:hover{
    transform: scale(1.02);
    background-color: #F7F7EE;
    opacity: 0.5;
    // display: none;
}



    .article-card-col-4 {
        border-right: 1px solid black;
        // border-top: 1px solid black;
        // border-bottom: 1px solid black;
        @media screen and (max-width:991px) {

            border: none;
            border-bottom: 1px solid black;

    }
  }

// 下面是caruosel
.article-caruosel-title{
    background: #F7F7EE;
    color: #383844 !important;
    margin: 50px;
    padding: 20px;
    border-radius: 5px;
    letter-spacing: 1px;
    .article-caruosel-title-h3{
        line-height: 1.4;
    }
}
