 
 

// 下面分類文章card hover
.article-card-col-4{
    position: relative;
}
.article-card-hover:hover{
    transform: scale(1.02);
    background-color: #F7F7EE;
    opacity: 0.5;
    // display: none;
}

.todo-like:hover{
opacity: 0.5;
}

// 下面是caruosel
// .article-caruosel-title{
//     position: relative;

//     .article-caruosel-title-h3{
//         line-height: 1.4;
//         position: absolute !important;
//         bottom: 0 !important;
//         right: 0 !important;
//     background: #fcfce2;
//     padding: 20px;
//     border-radius: 5px;
//     color: #383844 !important;
// z-index: 100000 !important;
//     letter-spacing: 1px;

//     }
// }

.article-caruosel{
    position: relative;
    .article-caruosel-title-h3{
       width: 1000px; 
        position: absolute;
        bottom: 30px;
        right: calc(50% - 500px);
            background: #f7f7ee;
    padding: 20px;
    border-radius: 5px;
    color: #383844 !important;
    letter-spacing: 1px;
    }
}

