// @import '~bootstrap/scss/bootstrap.scss';
// @import '../../styles/global.scss';



/* 文章標題 */
/* 作者及日期 */
.new-new {
	width: fit-content;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	img{
		position: absolute;
		top: 100px;
		right: 0;
		z-index: -1;
	}
}
.left {
	.red {
		color: #E64B4B;
	}
	.mr-3{
		width: 30px;
	}
	width: 200px;
}
.right {
	width: 1500px;
	justify-content:flex-end;
}
.card-body {
	h5 {
		line-height: 1.5;
	}
}
.author-date-new {
	justify-content: space-between;
	vertical-align: text-bottom;
}


// 分類標籤
.article-category-btn{
	font-family: 'Noto Sans TC', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #383844;
  background: none;
//   border: none;
//   margin: 12px;
//   padding: 4px 0;
  border-bottom: 2px solid #e64b4b00;

 
}

.article-category-selected-btn{
	font-family: 'Noto Sans TC', sans-serif;
  font-weight: 600;
  font-size: 16px;
	color: #e64b4b;
	border-bottom: 2px solid #e64b4b;
	transition: 0.2s;
}

.article-category-btn:hover,.article-category-selected-btn:hover {
	color: #e64b4b;
	border-bottom: 2px solid #e64b4b;
	transition: 0.2s;
  }