@import '~bootstrap/scss/bootstrap.scss';
@import '../../styles/global.scss';

.article-new {
	width: fit-content;
	margin-top: -100px;
	margin-left: auto;
	margin-right: auto;
	
	.article-new-h3 {
		letter-spacing: 2px;
		text-align: center;
	}
	.article-new-small {
		letter-spacing: 1px;
	}
}

.author-date-index {
	justify-content: space-between;
	vertical-align: text-bottom;
}
.article-index-more {
	width:200px;
margin-top: -30px;
	margin-left:  1000px;;
	margin-bottom: 80px;
	.article-index-more-img{
		width:280px;
	}
}
.article-index-category  {
	width: fit-content;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 50px;

}