@import '~bootstrap/scss/bootstrap.scss';
@import '../../styles/global.scss';
// 分類標籤
.article-category-btn{
	font-family: 'Noto Sans TC', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #383844;
  background: none;
//   border: none;
//   margin: 12px;
//   padding: 4px 0;
  border-bottom: 2px solid #e64b4b00;

 
}


.article-category-selected-btn{
	font-family: 'Noto Sans TC', sans-serif;
  font-weight: 600;
  font-size: 16px;
	color: #e64b4b;
	border-bottom: 2px solid #e64b4b;
	transition: 0.2s;
}

.article-category-btn:hover,.article-category-selected-btn:hover {
	color: #e64b4b;
	border-bottom: 2px solid #e64b4b;
	transition: 0.2s;
  }


.article-category{
  @media screen and (max-width:991px) {
    width: fit-content;
font-size: 14px;
width: 60px;
margin: auto;
    }
}


.article-card-col-4 {
  border-right: 1px solid black;
  // border-top: 1px solid black;
  // border-bottom: 1px solid black;
  @media screen and (max-width:991px) {

border: none;
border-bottom: 1px solid black;



}
}